*{
	margin: 0;
	padding: 0;
}
ul,ol,li{
	list-style: none;
}
i{
	font-style: normal;
}
a{
	text-decoration: none;
}
html,body{
	width: 500px;
	font-family: Arial;
	height: 100%;
	background-color: #c32229;
	background-image: url('../images/pcbg/background-top@2x.png');
	background-repeat: no-repeat;
}
section{
	top:0px;
	bottom:0px;
	height: 100%;

}
.spritIcon{
	background-image: url(../images/pcbg/sprite-icon@2x.png);
    background-repeat: no-repeat;
    background-position: 2rem;
}
img{
	background-repeat: no-repeat;
}
input::-webkit-input-placeholder{
    color:#ccc;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#ccc;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#ccc;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#ccc;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.ov{
	overflow: hidden;
}
.sel{
	position: relative;
}
.sanjiao-p{
	border:6px solid transparent;
	position: absolute;
	right: 0.5rem;
	top:0.3rem;
	border-top-color: #bfbfbf;
	border-top-width: 8px;	
}
.gap80{
	height: 0.8rem;
}
.hide{
	display: none;
}
#sec1{
	/*display: none;*/
	background-image:  url('../images/pcbg/background-cover@2x.png');	
	background-repeat: no-repeat;
	position: relative;
}
.operation{
	width: 350px;
	margin:  auto;
	padding-top: 508px;
}
.choice {

}
#listartAnser {
}
.sure, .surebtn{
	border-radius: 5px;
	display: block;
	text-align: center;
	color: #fff;
	font-weight: bold;
	margin: auto;
	height: 40px;
	line-height: 40px;	
	background-color: rgb(255,192,23);
}

#startAnser  i{
	font-size: 110%;
	display: inline-block;
	margin: 0 0.5rem 0 0.5rem;
	font-style: normal;
}
.to-anwser{
	background-color: #ccc !important;
}
.links{
	margin-top: 27px;
	text-align: center;
}
.links>*{
	color: #fff;
	display: inline-block;
	color: #eee;
}
.links span{
	margin-left: 0.26rem;
	margin-right: 0.26rem;
}


#fillMyInfo{
	width: 80%;
    margin-top: -20px;
}

#sec2 {
	background-color: rgba(0,0,0,0.5);
	padding-top: 0.8rem;
}
.closeInfo{
	float: right;
	width: 34px;
	height: 34px;
	background-position: -157px -84px;
}
.content{
	background-color: #b41a24;
    width: 88%;
    border-radius: 0.2rem;
    margin: auto;
    border: 4px solid #b41a24;
    margin: auto;
    color: #444;

}
.content .header{
	background-image: url('../images/pcbg/banner-message.png');
	background-repeat: no-repeat;
	border-radius: 6px 6px 0 0;
	height: 133px;

}
.content .forminfo{
	border-radius: 0 0 6px 6px;
	padding-top: 12px;
	padding-bottom: 30px;
	background-color: #fff;
}
.content .forminfo ol{
	width: 80%;
	margin: auto;
}
.content .forminfo ol>li{
	height: 44px;
	border-radius: 5px;
	padding: 0.03rem;
	background-color: #f5f5f5;
	margin-bottom: 20px;
	overflow: hidden;
}
.content .forminfo .ipt {
	width: 260px;
	height: 42px;
}
.forminfo .ipt input, .forminfo .ipt select{
	font-size: 16px;
	color: #444;
	border-color: transparent;
	background: transparent;
	width: 100%;
	height: 100%;
	outline: none;
}
.forminfo .ipt select{
	color: #ccc;
}
.forminfo ol>li>div{
	display: inline-block;
	vertical-align: middle;
	/*line-height: 2.0rem;*/
}
.forminfo ol>li .gap{
	margin-right: 0.28rem;
	color: #ccc;
}
.forminfo ol>li .icon{
	height: 100%;
	width: 34px;
}
.forminfo ol>li.ipt1 .icon {
	background-position: -294px -154px;
}
.forminfo ol>li.ipt2 .icon {
	background-position: -364px -82px;
}
.forminfo ol>li.ipt3 .icon {
	background-position: -294px -82px;
}
.forminfo ol>li.ipt4 .icon {
	background-position: -365px -154px;
}
.forminfo ol>li.ipt5 .icon {
	background-position: -433px -152px;
}

/* 个人信息填写部分 end*/


.ques-anw{
	background: url(../images/pcbg/logo@2x.png) center 30px no-repeat;
}
.header-time {
	background: rgba(255,255,255,0.1);
	border-radius: 6px;
	float: right;
	margin: 20px 20px 0 0;
	padding: 5px;
}
.header-time span{
	color: #fff;
}
.question {
	margin-top: 130px;
	margin-bottom: 35px;
}
.question p{
	line-height: 24px;
	color: #fff;
	width: 80%;
	margin: auto;
	margin-bottom: 0.50rem;
	overflow: hidden;
	/*margin: 8rem auto 2rem;*/
}
.choice {
	width: 66%;
	margin: auto;
}
.choice li{
	position: relative;
	padding: 4.8px 0;
	margin-bottom:24px;
	overflow: hidden;
	line-height: 29px;
	text-align: center;
	color: #333;
	background-color: #fff;
	border-radius: 6px;
}
.choice .right-anwser {
	color: #fff;
	background-color: rgb(255,192,23);
}
.choice li>*{
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 0;
}
.choice li span{
	width: 270px;
}
.choice li b,.choice li i{
	width: 29px;
	height: 29px;
}
.choice .choosed {
	background-color: rgb(255,192,23);
	color: #fff;
}
.choice .choosed i{
	background-position: -17px -90px
}
.choice .cho-error b{
	background-position: -164px -90px
}
.choice b{
	/*float: right;	*/
}
.choice .right-anwser b {
	background-position: -93px -90px		
}
.choice .cho-error {
	background-color: #bbb;
	color: #fff;
}

.next-que{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 44px;
	background-color: #fff;
}
.next-que>div{
	align-items: center;
	line-height: 44px;
}
.next-que .items{
	padding-left: 0.4rem;
}
.next-que .items i{
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 1px;
}
.next-que .btn-next {
	font-weight: bold;
	width: 86px;
	text-align: center;
	color: #fff;
	background-color: rgb(12,171,245);
	font-size: 110%;
	position: absolute;
	right: 0;
	top:0;
}
.next-que .tran{
    background-position: -447px -84px;
	color: transparent;
}
.next-que .current{
	color: #444;	
}

.next-que .total {
	color: #bbb;
}
.question .single i{
	background-position: -362px -21px;
	display: inline-block;
	width: 46px;
	margin-right: 0.16rem;
	color: transparent;
	vertical-align: middle;
}
.question .mult i{
	background-position: -291px -21px;
	color: transparent;
	width: 46px;
	display: inline-block;
	margin-right: 0.16rem;
}

.question i{
	width: 30px;
	height: 30px;
	background-image: url(../images/pcbg/sprite-icon@2x.png);
    background-repeat: no-repeat;
    background-position: -1.676rem -0.225rem;
	/*margin-right: 1rem;*/
}
.question span{
}
/*答题部分 end*/


#sec4{
	background-repeat: no-repeat;	
	background-position: 0rem 0rem;
}
.bg{
	background-color: #fff;
	padding: 45px;
	border-radius: 12px;
	padding-top: 27px;
}
.content-wrap{
	border-radius: 12px;
	width: 90%;
	margin: auto;
	border:4px solid rgba(255,255,255,0.1);
	margin-bottom: 0.8rem;
}

.grade .header{
	margin: auto;
	padding-bottom: 16px;
	border-bottom: 2px dotted #eee;
	margin-bottom: 16px;
}
.grade .used-time i{
	width: 0.3rem;
	height: 0.3rem;
	display: inline-block;
	background-image: url(../images/pcbg/sprite-icon@2x.png);
    background-repeat: no-repeat;
    background-position: -0.22rem -1.63rem;
	vertical-align: middle;
	/*padding-left: 1.7rem;*/
}
.grade .result{
	padding-bottom: 28px;
	overflow: hidden;
}
.grade .result>div{
	width: 33.33%;
	float: left;
	height: 92px;
}
.result .count .w,.result .corret .w{
	width: 70px;
	height: 70px;
	/*height: 1.01rem;*/
	margin: auto;	
	background-image: url(../images/pcbg/result-background-s@2x.png);
	background-repeat: no-repeat;
	background-position: center;
/*	padding-left: 4px;
	padding-right: 4px;*/
}
.result .count .w .inner{
	padding-top: 0.1rem;
	border-top: 2px solid #ff8801;	

}
.result .corret .w .inner{
	padding-top: 0.1rem;
	border-top:  2px solid #15CE84;
}
.result .num{
	font-size: 22px;
	text-align: center;
	color: #ff4740;
	font-weight: bold;
	font-family: arial;

	/*padding-top: 0.19rem;*/
}
.result .n{
	font-size: 14px;
	color: #444;
	text-align: center;
	padding-bottom: 0.19rem;
}
.result .inner{
	margin: auto;
	padding-top: 5px;
}

.rank .w{
	border-top: rgb(61,147,244) 2px solid;
	padding-left: 4px;
	padding-right: 4px;
	background-image: url(../images/pcbg/result-background-l@2x.png);
	background-repeat: no-repeat;
	background-position: center 0rem;
	width: 85px;
	height: 83px;
	margin:auto;

}
.rank .inner {
	padding-bottom: 0.5rem;
	font-size: 140%;
}

.btn-reanwser{
	width: 70%;
	margin-top: -20px;
}



/*排名*/

#sec5,.allbg{
	background-image: url(../images/pcbg/page-title@2x.png);
	background-repeat: no-repeat;	
	background-position: 0rem 0rem;
	padding-top:3.23rem;
}
#sec5{
	background:none;
	padding-top: 0;
}
.ranklist{
	border-radius: 12px;
	background-color: #fff;
	border:4px solid #b41a24;
	width: 90%;
	margin: auto;
	color: #444;
	/*margin-bottom: 0.8rem;*/
}
.ranklist ul{
	padding-top: 0.54rem;
	/*width: 6rem;*/
	margin:auto;
	padding-bottom: 0.8rem;
/*	padding-left: 1rem;
	padding-right: 1rem;*/
}
.ranklist li{
	height: 48px;
	line-height: 48px;
	border-bottom: 1px #F3F8FE solid;
}
.ranklist li>*{
	vertical-align: middle;
	align-items: center;
	text-align: center;
	display: inline-block;
}
.ranklist li i{
	width: 45px;
	height: 48px;
}
.ranklist li span:nth-of-type(1) {
	width: 1.7rem;
	text-align: left;
    /*text-indent: 0.8rem;*/
}
.ranklist li span:nth-of-type(2) {
	width: 1.32rem;
}
.ranklist li span:nth-of-type(3) {
	width: 1.73rem;
}

.ranklist .per-time{
}
.ranklist .forward{
    color: #ed3837;	
    font-weight: bold;
}
.ranklist .forward i{
	
}
.ranklist li:nth-of-type(1) i{
    background-position: -80px -150px;
}
.ranklist li:nth-of-type(2) i{
    background-position: -150px -150px;
}
.ranklist li:nth-of-type(3) i{
    background-position: -220px -150px;
}

.share>div {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: #FFFFFF;
}
.share>div>ul>li {
    float: left;
    width: 23%;
    text-align: center;
}
.share>div>ul>li>img {
    width: 50%;
    margin-top: 25%;
}
.share>div>ul>li>span {
    display: inline-block;
    padding-top: 3%;
    margin-bottom: 25%;
    color: #000000;
}
.share>div>div {
    clear: both;
    display: block;
    padding: 3% 0;
    color: #000000;
    border-top: #CCCCCC 1px solid;
}

.sharelink, .back{
	position: fixed;
	right: 15px;
	top: 15px;
	width: 45px;
	height: 45px;
	border-radius: 4px;
	background-color: rgba(255,255,255,0.2);
	cursor: pointer;
}
.sharebg{
	height: 0.5rem;
	background-position: -6.9em -0.1rem;
}
.back{
	cursor: pointer;
	left: 15px;
	right: auto;
}
.back .sharebg{
	height: 40px;
	background-position: -11px -14px;
	cursor: pointer;
}
